body{
  background-color: rgb(80, 157, 171);
}

.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  padding: 200px;
  margin: 1em 0;
  font-weight: bold;
  color: rgb(244, 77, 11);/*文字色*/

}



.title h1 {
  text-align: center;
  padding: 100px;
}

.homebtn {
  text-align: center;
  margin-bottom: 100px;
  color: brown;
  
}

.playStartbtn , .helpbtn {
  margin-bottom: 200px;
  height: 50px;
  width: 100px;
}

.howToPlay{
  text-align: center;
  margin-top: 150px;
} 

.explanation {
  display: inline-block;
  text-align: left;
  font-size: 20px;
  color: rgb(244, 77, 11);
}

.howToPlayTitle {
  margin-right: 20px;
  color: rgb(244, 77, 11);
}